{% extends 'base.html' %}
{% load staticfiles %}
<!-- The meat of the project. This html file holds the information for my users to learn and test from.-->
<!-- Line and Pie graphs are in the works. More research is required. -->

{% block content %}
  <div class="container">
    <div class="row">
	  <div class="col">
		<h2 class="text-center">Introduction</h2>
		<p>Hello students/trainee's this app is meant to help answer all your questions 
		when I am not available to answer them. Basically you need to input your height, weight, age and gender into 
		the inputs and select the activity level that you work with submit. You should see a graph plot that shows you 
		how much to increase per week/month. Here are the formulas: </br>
		<h4>Basal Metabolic Rate</h4>
		BMR or Basal Metabolic Rate uses the input of height, weight, 
		age and gender. Gender affects the calculations, it's obvious men and woman have different bodies.</br>
		<h5><u>Example</u></h5>
		Men: BMR = 66 + (6.23 x weight in lbs) + (12.7 x height in inches) - (6.8 x age in years)</br>
		Women: BMR = 655 + (4.35 x weight in lbs) + (4.7 x height in inches) - (4.7 x age in years) </br></br>
		<h4>Harris Benedict Equation</h4>
		Harris Benedict Equation uses your BMR value and applies the level of your activity to determine your total 
		daily intake.</br>
		<h5><u>Example</u></h5>
		Sedentary (Little to no exercise) BMR x 1.2</br>
		Lightly Active (Little exercise/sports 1-3 days/week) BMR x 1.375</br>
		Moderately Active (Moderate exercise/sports 3-5 days/week) BMR x 1.55</br>
		Very Active (Hard exercise/sport 6-7 days/week) BMR x 1.75</br>
		Extremely Active (Name implies and job or 2x training) BMR x 1.9</br>
		</p>
	  </div>
	</div>
	<div class="row">
	  <div class="col-4">
	    <div class="jumbotron">
		  <h4 style="margin-bottom: 10px;" class="text-center">Calculate your in-take</h4>
		  <form>
		    <label>Height(Inches)</label></br>
			<input type="text" class="height"/></br></br>
			<label>Weight(Pounds)</label></br>
			<input type="number" class="weight"></br></br>
			<label>Age(Years)</label></br>
			<input type="number" class="age"></br></br>
			<label>Gender</label></br>
			<select id="gen">
				<option value="M">Man</option>
				<option value="W">Woman</option>
			</select></br></br>
			<label>Activity Levels</label></br>
			<select id="act">
				<option value="1.2">Sedentary</option>
				<option value="1.375">Light</option>
				<option value="1.55">Moderate</option>
				<option value="1.75">Very</option>
				<option value="1.9">Extremely</option>
			</select></br></br>
			<button id="bmr-btn" type="submit" class="btn btn-primary">Submit</button>
		  </form>
		</div>
	  </div>
	  <div class="col-8">
	    <div class="jumbotron">
		  <div>
			<p class="text-center" style="font-size: 24px;">Result: <span id="val"></span></p></br>
			<h5><u>Maintenance</u></h5>
			<p>The resulting value means that you must eat this amount in order to maintain your current weight.</p>
			<h5><u>Rules of weight gain/loss</u></h5>
			<p>In order to gain/loss you must understand that if you increase +250 to your current diet and you consistently 
			eat that amount for the ENTIRE week, that means you would gain .5 lbs on completing the week. This applies in the 
			reverse for loss, -250 for .5 lbs.</br>
			It is common for most athletes to inc/dec by 250, but if your goal is to put on/off weight quicker than multiplying 
			that inc/dec by 2x is the way to go.</br>
			<h5><u>How do I know when to inc/dec?</u></h5>
			I would suggest inc/dec bi-weekly, but the key is to be CONSISTENT with your calories.
			</p>
		  <div>
		  <div class="text-center">
			<h3>Line chart(Work In Progress)</h3>
			<canvas id="chart" width="400" height="200"></canvas>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <script>
	$(window).on("load", function() {
		var ctx = document.getElementById("chart").getContext("2d");
			var myChart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: ["Week 0", "Week 1", "Week 2", "Week 3", "Week 4", "Week 5", "Week 6"],
					datasets: [
						{
							label: "Gain .5lb per week",
							data: [],
							borderColor: "Navy",
							fill: false
						}, {
							label: "Gain 1lb per week",
							data: [],
							borderColor: "Blue",
							fill: false
						}, {
							label: "Lose .5lb per week",
							data: [],
							borderColor: "OrangeRed",
							fill: false
						}, {
							label: "Lose 1lb per week",
							data: [],
							borderColor: "Red",
							fill: false
						}
					]
				}
		  });
		
	});
	
	
	$("#bmr-btn").click(function(e){
		e.preventDefault();
		
		var h = document.querySelector(".height");
		var w = document.querySelector(".weight");
		var a = document.querySelector(".age");
		var selected_gender = document.getElementById("gen");
		var selected_activity = document.getElementById("act");
		
		var res_placeholder = document.getElementById("val");
		var chart_number = null;
		var lightGain = [];
		var heavyGain = [];
		var lightLoss = [];
		var heavyLoss = [];
		
		function calculate(){
			var result = 0;
			if (selected_gender.options[selected_gender.selectedIndex].value == 'M') {
				result = (66 + (6.23*w.value) + (12.7*h.value) - (8.6*a.value))
				result = result*(selected_activity.options[selected_activity.selectedIndex].value)
				console.log(Math.round(result));
				
				res_placeholder.append(Math.round(result));
				chart_number = Math.round(result);
			} else {
				result = (655 + (4.35*w.value) + (4.7*h.value) - (4.7*a.value))
				result = result*(selected_activity.options[selected_activity.selectedIndex].value)
				console.log(Math.round(result));
				
				res_placeholder.append(Math.round(result));
				chart_number = Math.round(result);
			}
		}
		
		function calculate_lists() {
			for (i=0; i<7; i++) {
				if(i == 0) {
					lightGain[i] = chart_number + 250;
					heavyGain[i] = chart_number + 500;
					lightLoss[i] = chart_number - 250;
					heavyLoss[i] = chart_number - 500;
				} else if (i%2 == 0) {
					lightGain[i] = chart_number + 300;
					heavyGain[i] = chart_number + 550;
					lightLoss[i] = chart_number - 300;
					heavyLoss[i] = chart_number - 550;
				} else {
					lightGain[i] = chart_number + 250;
					heavyGain[i] = chart_number + 500;
					lightLoss[i] = chart_number - 250;
					heavyLoss[i] = chart_number - 500;
				}
			}
		}
		
		function make_chart() {
			if (myChart) {
				myChart.destroy();
				console.log("poop");
			}
			var ctx = document.getElementById("chart").getContext("2d");
			var myChart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: ["Week 0", "Week 1", "Week 2", "Week 3", "Week 4", "Week 5", "Week 6"],
					datasets: [
						{
							label: "Gain .5lb per week",
							data: lightGain,
							borderColor: "Navy",
							fill: false
						}, {
							label: "Gain 1lb per week",
							data: heavyGain,
							borderColor: "Blue",
							fill: false
						}, {
							label: "Lose .5lb per week",
							data: lightLoss,
							borderColor: "OrangeRed",
							fill: false
						}, {
							label: "Lose 1lb per week",
							data: heavyLoss,
							borderColor: "Red",
							fill: false
						}
					]
				},
				options: {
					title: {
						display: true,
						text: "7 Week Schedule"
					}
				}
			});
		}
		
		calculate();
		calculate_lists();
		make_chart();
	});
  
	
  
  </script>
{% endblock %}